* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cometchat-ai-smart-replies {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--cometchat-padding-3, 12px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--cometchat-padding-4, 16px);
  border-radius: var(--cometchat-radius-4, 16px);
}

.cometchat-ai-smart-replies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.cometchat-ai-smart-replies__header-title {
  overflow: hidden;
  color: var(--cometchat-text-color-primary, #141414);
  text-overflow: ellipsis;
  font: var(--cometchat-font-heading4-medium);
  font-style: normal;
}

.cometchat-ai-smart-replies__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--cometchat-padding-2, 8px);
  overflow: scroll;
}

.cometchat-ai-smart-replies__item-wrapper::-webkit-scrollbar,
.cometchat-ai-smart-replies__item-wrapper::-webkit-scrollbar-thumb {
    display: none;
}

.cometchat-ai-smart-replies__item {
  display: flex;
  flex: 1 0 0;
  padding: var(--cometchat-padding-2, 8px) var(--cometchat-padding-3, 12px);
  align-items: center;
  align-content: center;
  gap: 4px var(--cometchat-padding-1, 4px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--cometchat-radius-2, 8px);
  border: 1px solid var(--cometchat-border-color-light, #F5F5F5);
  background: var(--cometchat-background-color-01, #FFF);
  text-align: left;
}

.cometchat-ai-smart-replies__item:hover {
  background: var(--cometchat-white-hover, #FAFAFA);
  cursor: pointer;
}

.cometchat-ai-smart-replies__item-button {
  background: transparent;
  border: none;
  text-align: left;
  color: var(--cometchat-text-color-primary, #141414);
}

.cometchat-ai-smart-replies__header-close-button {
  cursor: pointer;
  mask-repeat: no-repeat;
  background-color: var(--cometchat-icon-color-primary, #141414);
  height: 20px;
  width: 20px;
  -webkit-mask: url("../../assets/close.svg");
  mask: url("../../assets/close.svg");
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.cometchat-ai-smart-replies__shimmer-item {
  max-height: 33px;
  display: flex;
  padding: var(--cometchat-padding-2, 8px) var(--cometchat-padding-3, 12px);
  align-items: center;
  align-content: center;
  gap: 4px var(--cometchat-padding-1, 4px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--cometchat-radius-2, 8px);
  border: 1px solid var(--cometchat-border-color-light, #F5F5F5);
  flex: 1 0 0;
  background: var(--cometchat-shimmer-gradient-color, linear-gradient(90deg, #E0E0E0 0%, #EEE 100%));
  animation: shimmerAnimation 1.5s infinite linear;
}

.cometchat-ai-smart-replies__error-view,
.cometchat-ai-smart-replies__empty-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cometchat-text-color-secondary, #727272);
  text-align: center;
  font: var(--cometchat-font-body-regular);
  font-style: normal;
}


@keyframes shimmerAnimation {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}