
/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"); */
/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css");*/
@import url("./bootstrap.min.css");

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }


.ccShowGrid{
    height:100%;

}
.cc-no-padding{

    padding:0 !important;
}

.m-r-4{
    margin-right: 4px;
}

.fright{
    float:right !important;
}

.h-100{
    height : 100% !important;
}

/* User  */


.cc-title{
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 7px 0 0;
    overflow: hidden;
    text-align: center;
}

