
/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"); */
/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css");*/
@import url("./bootstrap.min.css");

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

/* body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */
 
/* body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

.ccShowGrid{
    height:100%;

}
.cc-no-padding{

    padding:0 !important;
}

.m-r-4{
    margin-right: 4px;
}

.fright{
    float:right !important;
}

.h-100{
    height : 100% !important;
}

/* User  */

.ccMainContainer{
    height:100%
}
.ccleftSidebar{
    height:100% !important;
}

.ccUserList{
    height: 92%;
    overflow: auto;
}



.userItem{
    cursor: pointer !important;
    text-decoration: none;
    height: 64px;
    position: relative;
    margin: 0px;
    padding:4px;
    border-bottom: 1px solid rgba(0, 0, 0, .10) !important;
    background:#fff;

}

.userItem.active {
    background:#f2f2f2;
}

#sidebarTabContainer{
    height:100%;
}

.sidebarUserListItemAvatar{
    float : left !important;
    margin:4px;
}


.sidebarUserListItemTitle{
    flex: 1 1 0%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 1);
    font-size: 15px !important;
    font-weight: 400;
    line-height: 1.4;
    margin: 4px;
    margin-bottom:0px !important;
    padding: 4px;
    padding-bottom: 0px !important;
    
}

.pull-left{
    float : left !important;
}

.sidebarUserListItemStatus{
    color: rgba(153, 153, 153, 1);
    font-size: 13px !important;
    font-weight: 400;
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 4px;
    margin-top:0px !important;
    padding: 4px;
    padding-top: 0px !important;
}




.cc-icon{
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: opacity .2s;
    color: #7777ff;
}

.cc-title{
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 7px 0 0;
    overflow: hidden;
    text-align: center;
}

.sidebarHeader{
        height: 50px !important ;
        border-bottom: 1px solid rgba(0, 0, 0, .10) !important;
        box-sizing: border-box !important;

        justify-content: space-between !important;
        padding: 8px !important;
    
}

/* Message CSS */

.ccMessageHeader{
    border-bottom: 1px solid rgba(0, 0, 0, .10);
    box-sizing: border-box;
    height: 50px;
    position: relative;
    text-align: center;
}

.ccMessagetitle{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    height: 100%;   
}

.ccMessageHeaderMenu{
    bottom: 0px;
    padding: 9px 8px;
    height: 100%;
    right: 0;
    font-size: 24px;
    position: absolute;
}

.ccMessageFooterMenu{
    position: absolute;
    padding: 9px 8px;
    height: 100%;
    right: 0;
    font-size: 24px;
}

.ccMessageHeaderMenu svg, .ccMessageFooterMenu span{
    display: inline-block;
    margin-right: 15px;
    padding: 0;
}

.ccMessageHeaderMenu svg:last-child,.ccMessageFooterMenu span:last-child {
    margin-right: 0px;
}



.ccMessageFooter{
    position: absolute !important;
    bottom:0px !important;
    
}



.ccMessageEditorBox{
    border-radius: 4px;
    overflow: auto;
    font-size: 16px;
    flex-wrap: wrap;
    width: 100%;
    max-height: 180px;
    min-height: 42px;
    align-self: center;
    align-content: center;
    margin: 3px 0 3px 4px;
    line-height: 32px;
    padding: 4px;
    border: 1px solid #cccccc21;
}

.ccMessageEditorBox[data-placeholder]:not([data-placeholder=""]):empty::before {
    content: attr(data-placeholder);
  }

/* message-bubble */

.incoming_msg{
    margin:14px 8px;
}

.incoming_msg_img {
    display: inline-block;
    width: 4%;
    text-align: center;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    
    width: 92%;
   }
   .received_withd_msg p {
    background: #7777ff none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    max-width: 100%;
    width:fit-content;
    overflow-wrap: break-word;
    display:table;
  }
  .time_date {
    color:inherit;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    text-align: end;
  }

  .received_withd_msg { width: 57%;}

  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

.outgoing_msg{ 
   overflow:hidden; margin:14px 8px;
}
.outgoing_msg .sent_msg {
    float: right;
    width: 46%;
    text-align:right;
 }

.outgoing_msg .sent_msg p{
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    max-width: 100%;
    width:fit-content;
    min-width: 32px;
    font-size: 14px;
    overflow-wrap: break-word;
    padding: 5px 10px 5px 12px;
    float: right;
    color:#646464;
  }




/* blank container  */

  .outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #ffffff00;
    height: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    /*whatever width you want*/
  }

