{
  "presets": [
  	"@babel/env", 
  	"@babel/react",
  ],
  "plugins": [
  		"react-html-attrs", 
       "@babel/plugin-transform-react-inline-elements",
  		 ["@babel/plugin-proposal-decorators", { "legacy": true }],
  		"transform-class-properties", 
  		"@babel/plugin-transform-runtime"
  	]
}