.cometchat-live-reaction {
    width: 100px;
    height: calc(100% - 120px);
    overflow: hidden;
    top: 70px;
    float: right;
    display: block;
    z-index: 10;
    position: absolute;
    right: 2px;
    animation: fade 2s ease-in-out;
}

.cometchat-live-reaction__icon {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    width: 25px;
    height: 20px;
}


@keyframes fade {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1
    }
}