// @import "resources/core.scss";
// body {
//   margin: 0;
//   font-family: "Inter", sans-serif;
//   //   -webkit-font-smoothing: antialiased;
//   //   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
// }

$base_font_family: "Inter", sans-serif;
$text-dark: #141414;


* {
  box-sizing: border-box;
}

html {
  text-size-adjust:100%;
  font-size:10px;
}

body{
  margin:0;
  padding:0;
  font-family: $base_font_family;
  font-size: 1.4rem; 
  overflow-x: hidden;
  background-color: #fff;
  color: $text-dark;
  box-sizing:border-box
}

a { 
  background:0 0;
  text-decoration:none;
  background-color:transparent;
  color:inherit;
}

a,
a:visited,
a:active,
a:hover {
  color: white;
  text-decoration: none;
}

img {
  border:0;
  border-style:none;
  max-width:100%;
  display:inherit;
}

button,
input,
select,
textarea {
  font-family:inherit;
  font-size:100%;
  margin:0;
  font:inherit;
}

button,input {
  line-height:normal;
  overflow:visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer;
  outline:0;
  border:0;
  background-color:transparent;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base_font_family;
  font-stretch:normal;
  font-weight:400;
}

h4 {
  font-size: 2.2rem;
  line-height:27px;
}

p {font-size: 1.4rem;
  line-height:19px;
}

.clearfix::after,
.clearfix::before {
  content:" ";
  display:table;
}

.clearfix,
.clearfix::after {
  clear:both;
}