.light {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;

    p, 
    input {
      margin: auto;
      padding: 10px;
      font-size: 1.4rem;
      line-height: 19px;
    }

    p.heading {
      font-size: 42px;
      line-height: 54px;
      color: #2da7ff;
    }

    p.error {
      font-size: 12px;
      color: red;
    }

    input {
      border: 2px solid #AAA;
      width: 300px;
      height: 40px;
      border-radius: 10px;
      padding: 5px;
      font-weight: 550;
      color: #555;
    }

    div.sample-users {
      display: flex;
      width: 100%;
      justify-content: center;

      .sample-user {
        display: flex;
        width: 150px;
        margin: 10px;
        align-content: space-around;
        background: #333;
        border-radius: 10px;
        color: white;
        padding: 6px 10px;
        cursor: pointer;

        &:hover {
          cursor: pointer;
          color: darken($color: white, $amount: 5%);
          background: darken($color: #333, $amount: 20%);
        }
        
        img {
          width: 36px;
          height: 36px;
        }
      }
    }

    .btn-login {
      border-radius: 10px;
      margin: auto;
      margin-top: 10px;
      color: white;
      padding: 10px 20px;
      font-size: 1.4rem;
      background: #333;

      &:hover {
        cursor: pointer;
        color: darken($color: white, $amount: 5%);
        background: darken($color: #333, $amount: 20%);
      }
    }
  }
}